/* Import Adobe Fonts styles or define font-face */
@import url('https://use.typekit.net/bwg5bhb.css');
@import './global.css';

/* Light mode variables */
:root {
  --color-bg-primary: #fff5d7;
  --color-bg-secondary: #fff5d7;
  /* --color-bg-secondary: #ffaaab; */
  --color-text-primary: #2f1628;
  --color-text-secondary: #1c2226;
  --color-btn-primary: #ef5207;
  --color-btn-secondary: rgb(255, 170, 171, 0.5);
}

/* Dark mode variables */
.dark {
  --color-bg-primary: radial-gradient(
    ellipse at 48.1% -49.6%,
    #060914 30%,
    #23092a 100.2% /* #1b063c 100.2% */
  );
  --color-bg-secondary: #23092a;
  /* --color-text-primary: rgb(255, 245, 215, 0.8); */
  --color-text-primary: #f3c36f;
  /* --color-text-primary: #684257; */
  --color-text-secondary: #fff5d7;
  --color-btn-primary: #e7a63b;
  --color-btn-secondary: #c2205b;
}

body {
  background: var(--color-bg-primary);
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  font-style: normal;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* h1 {
  @apply bg-primary text-primary  text-2xl font-black font-heading md:text-4xl; 
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
