.container {
    gap: 1em; 
    position: relative; 
}
.title-fullstack {
    position: absolute;
    top: 0.2em;
    margin-bottom: 0;
    align-self: end; 
    text-align: end;
}
.heading-dev {
    margin-top: 0.4em;
    align-self: center; 
    margin-bottom: 0;
}

/* Justeringar för mindre skärmar */
@media (min-width: 640px) {
    .title-fullstack {
        top: 1%;
        left: 53%;
    }
    .heading-dev {
        margin-top: 0.4em;
        align-self: center; /* Centrera vertikalt */
        margin-bottom: 0;
    }
    
}

@media (min-width: 768px) {
    .title-fullstack {
        top: 14%;
        left: 29%;
    }
    .heading-dev{
        position: absolute;
        top: 14%;
        left: 14%;
    }
}

@media (min-width: 1024px) {
  
    .title-fullstack {
        top: 14%;
        left: 25%;
    }
    .heading-dev{
        top: 14%;
        left: 14%;
    }
}

@media (min-width: 1280px) {
  
    .title-fullstack {
        top: 14%;
        left: 24%; 
    }
    .heading-dev{
        top: 13%;
        left: 13%;;
    }
}

@media (min-width: 1536px) {
    .title-fullstack {
        top: 13.5%;
        left: 28.3%; 
    }
    .heading-dev{
        top: 13%;
        left: 19%;;
    }
}

