.title-fullstack {
    position: absolute;
    top: 0.2em;
    margin-bottom: 0;
    align-self: end; 
    text-align: end;
}
.heading-dev {
    margin-top: 0.4em;
    margin-bottom: 0;
}

.hello{
    position: absolute;
    top: 0em;
    left: 0.2em;
}
.myName{
    margin-top: 0.6em;
    margin-bottom: 0;
}
.iCode{
    position: absolute;
    top: 3.4em;
    left: 0.2em;
}

.subCv{
    position: absolute;
    top: 1.4em;
    right: 0em;
}
.cv{
    margin-top: 0.6em;
    text-align: end;
}

.container-btn{
    margin-top: 10em;
}

@media (min-width: 320px) {
    .container-btn{
        margin-top: 6em;
    }
}

@media (min-width: 480px) {
    .title-fullstack {
        top: 0.8em;
    }
    .heading-dev {
        margin-top: 0.7em;
    }
        
    .hello{
        top: 2.2em;
    }
    .myName{
        margin-top: 1.6em;
    }
    .iCode{
        top: 5.6em;
    }

    .subCv{
        top: 1.5em;
    }
    .cv{
        margin-top: 0.6em;
        text-align: end;
    }

    .container-btn{
        margin-top: 17em;
    }
}

@media (min-width: 640px) {
    .title-fullstack {
        top: 1%;
        left: 53%;
    }
    .heading-dev {
        margin-top: 0.4em;
        align-self: center; 
        margin-bottom: 0;
    }

    .hello{
        top: 3.5em;
        left: 0.2em;
    }
    .myName{
        margin-top: 1.7em;
    }
    .iCode{
        top: 7.8em;
    }
    
    .subCv{
        top: 1.8em;
        right: 0em;
    }
    .cv{
        margin-top: 0.5em;
        text-align: end;
    }
}

@media (min-width: 768px) {
    .title-fullstack {
        position: static;
    }
    .heading-dev{
        position: static;
       
    }

    .hello{
        position: static;
    }
    .myName{
        position: static;
    }
    .iCode{
        position: static;
    }
    
    .subCv{
        position: static;
    }
    .cv{
        position: static;
    }
}

@media (min-width: 1024px) {
  
    .title-fullstack {
        position: static;
    }
    .heading-dev{
        position: static;
    }

    .hello{
        position: static;
    }
    .myName{
        position: static;
    }
    .iCode{
        position: static;
    }
    
    .subCv{
        position: static;
    }
    .cv{
        position: static;
    }
}

@media (min-width: 1280px) {
  
    .title-fullstack {
        position: static; 
    }
    .heading-dev{
        position: static;
    }
    .espresso{
        position: static;
    }
}

@media (min-width: 1536px) {
    .title-fullstack {
        position: static;
    }
    .heading-dev{
        position: static;
    }

    .hello{
        position: static;
    }
    .myName{
        position: static;
    }
    .iCode{
        position: static;
    }
    
    .subCv{
        position: static;
    }
    .cv{
        position: static;
    }
}

